<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Guia Press</h1>
        <hr>
        
    </div>
</body>
<%-include('partials/bottom.ejs') %>